---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">Esta pagina no existe</h1>
    <img
      class="pt-4"
      src="https://midu.dev/images/this-is-fine-404.gif"
      alt="gif-this-is-fine"
    />
    <a
      href="/#"
      class="flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 mt-8"
      aria-label="Ver lanzamientos recientes"
    >
      <span>Ir al inicio</span>
      <svg
        class="w-4 h-4 ml-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</Layout>
