---
import NavButton from "./NavButtons.astro";
---

<nav
  class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
>
  <a href="/#" class="flex items-center space-x-3 rtl:space-x-reverse">
    <span
      class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      >🚀 SpaceX Launches
    </span>
  </a>
  <button
    data-collapse-toggle="navbar-multi-level"
    type="button"
    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    aria-controls="navbar-multi-level"
    aria-expanded="false"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15"
      >
      </path>
    </svg>
  </button>
  <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
    <ul
      class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
      <li>
        <NavButton title="Inicio" link="/#" />
      </li>
      <li>
        <NavButton title="Lanzamientos recientes" link="/latest-launches" />
      </li>
      <li>
        <NavButton title="Lanzamientos pasados" link="/older-launches" />
      </li>
      <li>
        <button
          id="dropdownNavbarLink"
          data-dropdown-toggle="dropdownNavbar"
          class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >Tema <svg
            class="w-2.5 h-2.5 ms-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"></path>
          </svg></button
        >
        <!-- Dropdown menu -->
        <div
          id="dropdownNavbar"
          class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-48 dark:bg-gray-700 dark:divide-gray-600"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-400"
            aria-labelledby="dropdownLargeButton"
          >
            <li
              id="light-theme"
              class="block cursor-pointer mx-auto px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              Modo Claro
              <svg
                id="theme-toggle-light-icon"
                class="inline-flex pb-1 w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                >
                </path>
              </svg>
            </li>
            <li
              id="dark-theme"
              class="block cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              Modo Oscuro
              <svg
                id="theme-toggle-dark-icon"
                class="inline-flex pb-1 w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                ></path>
              </svg>
            </li>
            <li
              id="device-theme"
              class="block cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >
              Tema del dispositivo
              <svg
                class="inline-flex pb-1 w-5 h-5"
                id="theme-devices-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 478.306 478.306"
                fill="currentColor"
              >
                <g>
                  <path
                    d="M86.649,65.425c0-1.386,1.128-2.506,2.513-2.506h318.124c1.386,0,2.513,1.12,2.513,2.506v215.91
		c0,1.386-1.127,2.505-2.513,2.505H243.98v31.649h163.306c18.839,0,34.164-15.322,34.164-34.154V65.425
		c0-18.832-15.324-34.155-34.164-34.155H89.163c-18.839,0-34.164,15.324-34.164,34.155v69.297h31.65V65.425z"
                  ></path>
                  <path
                    d="M465.888,328.441H243.98v44.96h201.792c17.97,0,32.534-14.564,32.534-32.542
		C478.306,333.999,472.747,328.441,465.888,328.441z"
                  ></path>
                  <path
                    d="M175.27,166.371H37.061C16.625,166.371,0,182.994,0,203.431v206.545
		c0,20.436,16.625,37.061,37.061,37.061H175.27c20.437,0,37.061-16.625,37.061-37.061V203.431
		C212.331,182.994,195.707,166.371,175.27,166.371z M31.65,203.431c0-2.982,2.426-5.411,5.411-5.411H175.27
		c2.984,0,5.411,2.428,5.411,5.411v191.825H31.65V203.431z M106.163,432.894c-4.997,0-9.202-2.928-11.331-7.086
		c-0.899-1.752-1.526-3.664-1.526-5.77c0-7.103,5.755-12.858,12.858-12.858c7.101,0,12.856,5.755,12.856,12.858
		c0,2.105-0.625,4.017-1.526,5.77C115.362,429.966,111.158,432.894,106.163,432.894z"
                  ></path>
                </g>
              </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
