---
import HeaderButton from "../components/HeaderButton.astro";
---

<header class="py-8 mx-auto max-w-xl lg:py-8 lg:px-0">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold">
      SpaceX launches 🚀
    </h2>
    <p class="text-dark-800 sm:text-xl dark:text-gray-400">
      All the information about SpaceX launches
    </p>
  </div>

  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton title="Últimos lanzamientos" link="/" />
    <HeaderButton title="Acerca del proyecto" link="/about" />
    <HeaderButton title="Lanzamientos más viejos" link="/" />
    <HeaderButton title="Archivo MD" link="/content-md" />
  </nav>
</header>
